<h1>I am in an unnamed ui-view</h1>
<p>What's interesting about this view is the way we arrived here. Enter the routerDemo url into your address bar again, with no state names in the path at all. You will hit the url stated in the '$urlRouterProvider.otherwise' function. This is because you are accessing a state that does not exist i.e. " "</p>
<p>If you access the 'top' state directly you will see the same behaviour, as you are trying to access an 'abstract state'.</p>
<p>If you hit the 'Edit' button you will have to wait for a second for it's service to resolve into an injectable.</p>
